<section class="container custom-section">
    <div class="row">
        <div class="col-md" data-aos="fade-up" data-aos-offset="700" data-aos-duration="500">

            <img src="assets/imagenes/proyecto_ejemplo3.jpg" class="img-fluid" alt="...">
        </div>
        <div class="cb col-md">
            <p class="card-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially
                unchanged. It was popularised in
            </p>
        </div>
    </div>
</section>
